<!DOCTYPE html>
<html style="background-image: url(&quot;../static/img/vertical-background.jpg&quot;);">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Job Board</title>
    <link rel="stylesheet" href="../static/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lora">
    <link rel="stylesheet" href="../static/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="../static/fonts/ionicons.min.css">
    <link rel="stylesheet" href="../static/styles/Article-Clean.css">
    <link rel="stylesheet" href="../static/styles/Article-List.css">
    <link rel="stylesheet" href="../static/styles/Login-Form-Clean.css">
    <link rel="stylesheet" href="../static/styles/Navigation-Clean.css">
    <link rel="stylesheet" href="../static/styles/styles.css">
</head>

<body>
    <nav class="navbar navbar-light navbar-expand-md navigation-clean" style="background-color: rgb(88,217,245);">
        <div class="container"><a class="navbar-brand" href="#" style="color: rgb(255,255,255);filter: blur(0px) brightness(105%);opacity: 1;">CrystalDoor</a><button data-toggle="collapse" class="navbar-toggler" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div
                class="collapse navbar-collapse" id="navcol-1">
                <div></div>
                <ul class="nav navbar-nav ml-auto">
                    <li class="nav-item" role="presentation"><a class="nav-link border rounded shadow" href="login.html" style="color: rgb(255,255,255);margin: 0px;">Log In</a></li>
                </ul>
        </div>
        </div>
    </nav>
    <div class="article-list" style="background-image: url(&quot;../static/img/vertical-background.jpg&quot;);">
        <div class="container">
            <div class="intro">
                <h2 class="text-center" style="color: rgb(0,0,0);">Hottest Jobs</h2>
                <p class="text-center" style="color: rgb(65,68,69);">Take a look at the current jobs available from the most popular companies!</p>
            </div>
            <div class="row articles">
                <div class="col-sm-6 col-md-4 item"><a href="#"><img class="img-fluid" src="../static/img/google-logo.jpg" style="height: 120px;"></a>
                    <h3 class="name">Software Engineer</h3>
                    <p class="description" style="color: rgb(65,68,69);">Google aspires to be an organization that reflects the globally diverse audience that our products and technology serve. We believe that in addition to hiring the best talent, a diversity of perspectives, ideas and cultures leads to
                        the creation of better products and services.<br></p><a class="action" href="job-view.html"><i class="fa fa-arrow-circle-right"></i></a></div>
                <div class="col-sm-6 col-md-4 item"><a href="#"><img class="img-fluid" src="../static/img/microsoft-logo.jpg" style="height: 120px;"></a>
                    <h3 class="name">FastTrack Engineer II</h3>
                    <p class="description" style="color: rgb(65,68,69);">Are you excited about working directly with Microsoft customers and partners to ensure success as they move forward with cloud computing? Do you want to be part of an engineering team that is looking to get a new service off the ground?
                        If so, keep reading!<br><br></p><a class="action" href="#"><i class="fa fa-arrow-circle-right"></i></a></div>
                <div class="col-sm-6 col-md-4 item"><a href="#"><img class="img-fluid" src="../static/img/apple-logo.jpg" style="height: 120px;"></a>
                    <h3 class="name">Anti-Piracy Program Manager</h3>
                    <p class="description" style="color: rgb(65,68,69);">Imagine what you could do here. At Apple, new ideas have a way of becoming extraordinary products, services, and customer experiences very quickly. You bring passion and dedication to your job and there's no telling what you could
                        accomplish.<br><br></p><a class="action" href="#"><i class="fa fa-arrow-circle-right"></i></a></div>
            </div>
        </div>
    </div>
    <script src="../static/scripts/jquery.min.js"></script>
    <script src="../static/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>